@font-face {
   font-family: 'Blanka-Regular';
   font-display: swap;
   src: url('file:///C:/Users/rohit/AppData/Local/Mobirise.com/Mobirise/projects/project-2022-10-30_223729/fonts/Blanka-Regular/font.ttf');
}
